# Visual Studio files
.vs/
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
*.VC.db
*.VC.VC.opendb
*.VC.VC.opendb.lock
*.sln.docstates

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/

# NuGet packages
packages/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NCrunch
*.ncrunch*
.*crunch*.local.xml

# Build results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.nuget/
**/TestResults/
*_PowerDesigner*.zip
*~$*
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
bower_components/
**/Properties/PublishProfiles/
.vscode/

# Build results for WPF
[Bb]uild/

# Click-Once
publish/

# Xamarin-specific
*.apk
*.ap_
*.aab
*.ipa
*.msi
*.nupkg
*.p12
*.pfx
*.vsix
*.xapk
*.xap
